{% extends "base.html" %}
{% block content %}
<h2>المواعيد</h2>
<div class="dates-container">
    <h3>المواعيد القادمة</h3>
    <div class="dates-grid">
        {% for date in upcoming_dates %}
        <div class="date-card">
            <div class="date-header">
                <div class="date-icon">
                    <i class="fas fa-calendar-alt"></i> <!-- FontAwesome calendar icon -->
                </div>
                <div class="date-text">
                    <strong>{{ date['date'] }}</strong>
                </div>
            </div>
            <div class="date-content">
                <p><strong>المرسل:</strong> {{ date['Sender'] }}</p>
                <p><strong>المحتوى:</strong> {{ date['Message Content'] }}</p>
                {% if date['date_time'] is not none %}
                <p><strong>الوقت:</strong> {{ date['date_time'] }}</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="section-divider"></div>

<div class="dates-container">
    <h3>المواعيد الماضية</h3>
    <div class="dates-grid">
        {% for date in past_dates %}
        <div class="date-card">
            <div class="date-header">
                <div class="date-icon">
                    <i class="fas fa-calendar-alt"></i> <!-- FontAwesome calendar icon -->
                </div>
                <div class="date-text">
                    <strong>{{ date['date'] }}</strong>
                </div>
            </div>
            <div class="date-content">
                <p><strong>المرسل:</strong> {{ date['Sender'] }}</p>
                <p><strong>المحتوى:</strong> {{ date['Message Content'] }}</p>
                {% if date['date_time'] is not none %}
                <p><strong>الوقت:</strong> {{ date['date_time'] }}</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}